* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */

.container {
  width: 80%;
  margin: auto;
}

ul {
  list-style: none;
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

body {
  height: 100vh;
  background: rgb(255, 228, 217);
}

.navbar {
  background: lightblue;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list-menu {
  padding: 0.5rem 1rem;
  background: rgb(135, 206, 250);
  cursor: pointer;
  margin: 0 0.5rem;
}

.navbar-list-menu:hover {
  background: rgb(255, 180, 150);
}

.navbar-circle {
  border-radius: 50%;
  background: rgb(32, 178, 170);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-circle-text {
  font-weight: bold;
  font-size: 1.3rem;
  color: #fff;
}

.navbar-circle:hover {
  background: rgb(35, 193, 185);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-list-menu-dropdown {
  position: fixed;
  background: inherit;
  padding: 0.6rem;
  display: none;
}

.navbar-list-menu-dropdown-item {
  padding: 0.5rem;
  background: rgb(254, 165, 130);
  margin-top: 0.4rem;
}

.navbar-list-menu-dropdown-item:hover {
  background: rgb(218, 141, 111);
}

/* Text */
.section-1 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.section-1-text {
  width: 80%;
}
